.company-info {
  padding: 43px 35px 0;

  @media (min-width: $tablet-width) {
    padding: 75px $margin-tablet 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.company-info__list {
  @include indents-zero();

  max-width: 525px;
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    max-width: 85%;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;

    font-weight: 700;

    margin-top: 170px;
    margin-left: 30px;
  }
}

.company-info__item {
  width: 50%;
  min-width: 250px;

  margin-bottom: 19px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 34%;
    min-width: 220px;

    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    min-width: 190px;
    
    padding-right: 5px;
  }
}

.company-info__item:nth-child(odd) {
  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.company-info__item h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    font-weight: 700;
  }
}

.company-info__item p {
  margin: 0;
}

.company-info__item a {
  font-size: 14px;
  text-decoration: none;
  outline: none;

  transition: color 0.3s;
}

.company-info__item a:hover,
.company-info__item a:focus {
  color: $color-red;
}
