.company-info {
  padding: 45px 35px 0;
}

.company-info__list {
  @include indents-zero();

  font-size: 14px;
  line-height: 20px;
}

.company-info__item {
  margin-bottom: 25px;
}

.company-info__item h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  margin: 0;
}

.company-info__item p {
  margin-top: 0;
}

.company-info__item a {
  text-decoration: none;
  outline: none;

  transition: color 0.3s;
}

.company-info__item a:hover,
.company-info__item a:focus {
  color: $color-red;
}
