.direction {
  position: relative;
  z-index: 2;

  margin-bottom: 60px;

  background-image: url("../img/bg-elem-1.png");
  background-size: 67.5vw auto;
  background-repeat: no-repeat;
  background-position: left 30%;

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/bg-elem-1@2x.png");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 108px;

    background-size: 100% 100%;
    background-position: center;
    background-image: url("../img/bg-elem-1-tablet.png");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/bg-elem-1-tablet@2x.png");
    }
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 140px;

    background-size: 1257px 722px;
    background-position-y: -45px;
    background-position-x: center;
    background-image: url("../img/bg-elem-1-desktop.png");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/bg-elem-1-desktop@2x.png");
    }
  }
}

.webp .direction {
  background-image: url("../img/webp/bg-elem-1.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/bg-elem-1@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/webp/bg-elem-1-tablet.webp");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/webp/bg-elem-1-tablet@2x.webp");
    }
  }
  
  @media (min-width: $desktop-width) {
    background-image: url("../img/webp/bg-elem-1-desktop.webp");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../webp/img/bg-elem-1-desktop@2x.webp");
    }
  }
}

.direction__header {
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.direction__content-wrapper {
  width: 78.125vw;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 81.3vw;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 66.7vw;
    max-width: 960px;
  }
}

.direction__left-column {
  @media (min-width: $tablet-width) {
    width: 40.2%;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 38%;
  }
}

.direction__right-column {
  @media (min-width: $tablet-width) {
    width: 56%;
    flex-grow: 0;
  }
}

.direction__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}

.direction__left-column .direction__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.direction__right-column .direction__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.direction__item picture {
  display: flex;
  
  // @media (min-width: $tablet-width) {
  //   min-height: 100%;
  // }
}

.direction__item img {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.direction__right-column picture {
  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    align-self: stretch;
    width: 41.92%;
  }
}

.direction__item-content {
  position: relative;
  display: flex;
  align-items: stretch;

  box-shadow: $box-shadow;
}

.direction__right-column .direction__item-content {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.direction__item-content a {
  width: 21.5%;
  min-height: 100%;

  align-self: stretch;
}

.direction__right-column .direction__item-content a {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 24px;
    bottom: 25px;
    width: 30px;
    height: 20px;
    min-height: auto;

    background-size: 6px 12px;
  }
}

.direction__description-wrapper {
  width: 100%;

  padding: 13px 20px 16px;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 46px 26px;
  }
}

.direction__right-column .direction__description-wrapper {
  @media (min-width: $desktop-width) {
    padding: 30px 46px 26px;
  }
}

.direction__description {
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.direction__description h3 {
  font-size: 12px;
  font-weight: 700;
  word-break: break-word;

  margin-top: 0;
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    font-size: 16px;

    margin-bottom: 7px;
  }
}

.direction__time {
  font-size: 10px;
  line-height: 15px;

  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.direction__list {
  @include indents-zero();
}

.direction__button-more {
  min-width: 100%;
  display: none;

  font-size: 12px;
  line-height: 20px;
  color: $color-main;
  font-weight: 700;

  padding: 14px 30px;

  background-color: $color-white;
  box-shadow: $box-shadow;
  border: none;
  outline: none;
  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;

  &:hover,
  &:focus {
    color: $color-white;

    background-color: $color-main;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
