.instructor {
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  color: $color-red;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 15px;
  }
}

.instructor h3 {
  margin: 0;

  font-size: 10px;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 15px;
  }
}

.instructor p {
  margin: 0;
}
