.intro {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 61px;

  @media (min-width: $tablet-width) {
    margin: 0 78px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 110px;
  }
}

.intro__h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.31em;
  color: $color-white;
  text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);

  margin-top: 0;
  margin-left: 19px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 136px;
    line-height: 136px;
    letter-spacing: 0.4em;

    margin-top: -5px;
    margin-left: 65px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;

    font-size: 265px;
    line-height: 265px;
    letter-spacing: 0.33em;

    margin-left: 80px;
    margin-bottom: 2px;
  }
}

.intro__h2 {
  font-family: "Caveat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;

  margin: 0;
  padding: 0 35px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 625px;

    font-size: 24px;
    text-align: left;

    margin: 0 auto;
    padding-left: 83px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;

    font-size: 45px;
    line-height: 60px;

    padding-left: 160px;
  }
}

.intro__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 174px;

  font-size: 10px;
  line-height: 12px;
  color: $color-red;
  text-decoration: none;

  padding-left: 37px;

  outline: none;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;

    transition: background-color 0.3s;

    background-color: $color-red;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 6px 12px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 260px;

    font-size: 14px;
    line-height: 20px;

    margin-left: -35px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 69px;

    &::before {
      width: 56px;

      background-size: 10px 20px;
    }
  }
}

.intro__link:hover,
.intro__link:focus {
  color: $color-main;

  &::before {
    background-color: $color-main;
  }
}

.intro__bottom {
  display: none;
  justify-content: space-between;
  width: 100%;

  margin-top: 50px;

  @media (min-width: $tablet-width) {
    display: flex;

    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;

    margin: 0 auto;
    margin-top: 127px;
  }
}

.intro__soc a path {
  fill: $color-main;
}

.intro__place {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;

  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.intro .intro__item {
  margin-right: 10px;
}
