.page-footer {
  background-color: $color-main;
  border-bottom: 1px solid $color-main;
}

.page-footer__info {
  color: $color-white;
}

.page-footer__bottom {
  font-size: 12px;
  line-height: 20px;
  color: rgba($color-white, 0.5);

  margin: 10px $margin-mobile 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    
    margin: 10px $margin-tablet 70px;
  }
}

.page-footer__bottom p {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 32px;
  }
}

.page-footer__bottom a {
  text-decoration: none;
  outline: none;
  transition: color 0.3s;
}

.page-footer__bottom a:hover,
.page-footer__bottom a:focus {
  color: $color-red;
}

.page-footer__soc {
  margin: 0 $margin-mobile 20px;

  @media (min-width: $tablet-width) {
    margin: 0 $margin-tablet 20px;
  }
}
