.subscription {
  margin-bottom: 70px;
}

.subscription__content-wrapper {
  margin: 0 $margin-mobile;
}

.subscription__header {
  margin-bottom: 30px;
}

.subscription__tabs-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 18px;
}

.subscription__list {
  @include indents-zero();
}

.subscription__tab {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  font-size: 12px;
  line-height: 20px;
  color: $color-red;
  text-decoration: none;

  margin: 12px;

  outline: none;

  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;

    transition: width 0.3s, background-color 0.3s;

    background-color: $color-red;
  }
}

.subscription__tab.block-tabs__tab--active {
  &::after {
    width: 100%;
  }
}

.subscription__tab:hover,
.subscription__tab:focus {
  color: $color-main;

  &::after {
    background-color: $color-main;
  }
}

.subscription__variation-list {
  @include indents-zero();
}

.subscription__variant {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
  padding: 30px;

  background-color: $color-white;
  box-shadow: $box-shadow;
}

.subscription__variant h3 {
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 20px;
}

.subscription__variant p {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 10px;
  line-height: 15px;
  color: $color-red;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 20px;
}

.subscription__variant .subscription__cost {
  font-size: 18px;
  line-height: 20px;
  color: $color-main;
  font-weight: 700;

  margin-top: 20px;
}

.subscription__button {
  display: inline-block;
  vertical-align: middle;

  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: $color-white;
  text-decoration: none;

  padding: 9px 23px;

  background-color: $color-main;
}
