.team {
  padding-bottom: 50px;

  background-image: url("../img/bg-elem-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -10px;

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/bg-elem-2@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-elem-2-tablet.png");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/bg-elem-2-tablet@2x.png");
    }
  }
  
  @media (min-width: $desktop-width) {
    padding-bottom: 100px;

    background-image: none;
  }
}

.team__header {
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.team__slider {
  padding: 0 46px;

  @media (min-width: $desktop-width) {
    max-width: 976px;

    margin: 0 auto;
  }
}

.team__list {
  @include indents-zero();
}

.team__item-header {
  display: flex;

  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.team__item-header picture {
  display: flex;
  flex-shrink: 0;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.team__item-header img {
  object-fit: cover;

  @media (min-width: $desktop-width) {
    width: 143px;
    height: 144px;
  }
}

.team__instructor-info {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 15px;
  padding-top: 15px;
  padding-right: 19px;

  background-color: $color-white;
  box-shadow: $box-shadow;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    width: 95%;

    margin-top: 56px;
    margin-left: auto;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 142px;

    box-sizing: border-box;
  }
}

.team__instructor-header {
  display: flex;
  flex-direction: column;
}

.team__instructor-header h3 {
  display: flex;
  flex-direction: column;

  font-size: 10px;
  line-height: 15px;
  color: $color-red;
  word-break: break-word;

  margin: 0;
  margin-bottom: 7px;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 20px;

    margin-bottom: 9px;
  }
}

.team__instructor-header span {
  font-size: 10px;
  line-height: 15px;
  word-break: break-word;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.team__instructor-soc {
  margin: 5px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.team__link {
  display: none;
  position: relative;

  font-size: 10px;
  line-height: 20px;
  text-decoration: none;

  transition: color 0.3s;

  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    transition: background-color 0.3s;

    background-color: $color-main;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.team__link:hover,
.team__link:focus {
  color: $color-red;

  &::after {
    background-color: $color-red;
  }
}

.team__item-bottom h3 {
  display: none;

  margin: 0;
}

.team__item-bottom span {
  display: inline-block;
  vertical-align: middle;

  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: $color-red;

  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

.team__item-bottom p {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  
  margin-top: 0;
  margin-bottom: 6px;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.team__slider-button {
  top: 26px;
  width: 16px;
  height: 31px;

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 45px;
  }
}

.team__slider-button--prev {
  left: 15px;
  transform: rotate(180deg);

  @media (min-width: $desktop-width) {
    left: 3px;
  }
}

.team__slider-button--next {
  right: 15px;

  @media (min-width: $desktop-width) {
    right: 3px;
  }
}

.team__our-soc {
  min-height: 100%;
  display: flex;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.team__our-soc .our-soc__list {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.team__soc-item {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    padding: 5px;
  }
}

.team__our-soc path {
  fill: $color-main;
}
