.top-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 336px;

  background-image: url("../img/start-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/start-bg@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 484px;

    background-image: url("../img/start-bg-tablet.png");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/start-bg-tablet@2x.png");
    }
  }
  
  @media (min-width: $desktop-width) {
    height: 908px;

    background-image: url("../img/start-bg-desktop.png");

    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      background-image: url("../img/start-bg-desktop@2x.png");
    }
  }
}